# Project exclude paths
/.gradle/
/build/
/build/classes/java/main/
/.idea/.gitignore
/run/saves/New World/playerdata/380df991-f603-344c-a090-369bad2a924a.dat
/run/saves/New World/playerdata/380df991-f603-344c-a090-369bad2a924a.dat_old
/run/saves/New World/advancements/380df991-f603-344c-a090-369bad2a924a.json
/run/saves/New World/stats/380df991-f603-344c-a090-369bad2a924a.json
/run/logs/2025-05-01-2.log.gz
/run/logs/2025-05-01-3.log.gz
/run/logs/2025-05-04-1.log.gz
/run/logs/2025-05-04-2.log.gz
/run/logs/2025-05-04-3.log.gz
/run/logs/2025-05-04-4.log.gz
/run/logs/2025-05-04-5.log.gz
/run/logs/2025-05-04-6.log.gz
/run/logs/2025-05-04-7.log.gz
/run/logs/2025-05-04-8.log.gz
/run/logs/2025-05-04-9.log.gz
/run/logs/2025-05-04-10.log.gz
/.idea/compiler.xml
/run/config/create-client.toml
/run/config/create-common.toml
/run/config/create-server.toml
/run/logs/debug.log
/run/logs/debug-1.log.gz
/run/logs/debug-2.log.gz
/run/logs/debug-3.log.gz
/run/logs/debug-4.log.gz
/run/logs/debug-5.log.gz
/.idea/discord.xml
/run/config/flywheel-client.toml
/run/config/fml.toml
/.idea/gradle.xml
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/gradlew
/gradlew.bat
/run/saves/New World/icon.png
/.idea/jarRepositories.xml
/run/logs/latest.log
/run/saves/New World/level.dat
/run/saves/New World/level.dat_old
/run/downloads/log.json
/.idea/misc.xml
/.idea/modules.xml
/run/config/neoforge-client.toml
/run/config/neoforge-common.toml
/run/config/neoforge-server.toml
/run/saves/New World/data/neoforge_data_attachments.dat
/run/saves/New World/DIM1/data/neoforge_data_attachments.dat
/run/saves/New World/DIM-1/data/neoforge_data_attachments.dat
/run/options.txt
/.idea/modules/PackagersPSIC.main.iml
/.idea/modules/PackagersPSIC.test.iml
/run/config/ponder-client.toml
/run/saves/New World/poi/r.0.0.mca
/run/saves/New World/region/r.0.0.mca
/run/saves/New World/entities/r.0.-1.mca
/run/saves/New World/poi/r.0.-1.mca
/run/saves/New World/region/r.0.-1.mca
/run/saves/New World/entities/r.0.-2.mca
/run/saves/New World/poi/r.0.-2.mca
/run/saves/New World/region/r.0.-2.mca
/run/saves/New World/poi/r.1.0.mca
/run/saves/New World/region/r.1.0.mca
/run/saves/New World/poi/r.1.-1.mca
/run/saves/New World/region/r.1.-1.mca
/run/saves/New World/poi/r.1.-2.mca
/run/saves/New World/region/r.1.-2.mca
/run/saves/New World/poi/r.-1.0.mca
/run/saves/New World/region/r.-1.0.mca
/run/saves/New World/entities/r.-1.-1.mca
/run/saves/New World/poi/r.-1.-1.mca
/run/saves/New World/region/r.-1.-1.mca
/run/saves/New World/entities/r.-1.-2.mca
/run/saves/New World/poi/r.-1.-2.mca
/run/saves/New World/region/r.-1.-2.mca
/run/saves/New World/data/raids.dat
/run/saves/New World/DIM-1/data/raids.dat
/run/saves/New World/DIM1/data/raids_end.dat
/run/saves/New World/data/random_sequences.dat
/run/saves/New World/serverconfig/readme.txt
/run/saves/New World/session.lock
/.idea/uiDesigner.xml
/run/usercache.json
/run/usernamecache.json
/.idea/vcs.xml
